bin/Debug/net8.0/Azure.Core.dll
bin/Debug/net8.0/Cosmos.CRTCompat.dll
bin/Debug/net8.0/democosmos.deps.json
bin/Debug/net8.0/democosmos.dll
bin/Debug/net8.0/democosmos.exe
bin/Debug/net8.0/democosmos.pdb
bin/Debug/net8.0/democosmos.runtimeconfig.json
bin/Debug/net8.0/Microsoft.Azure.Cosmos.Client.dll
bin/Debug/net8.0/Microsoft.Azure.Cosmos.Core.dll
bin/Debug/net8.0/Microsoft.Azure.Cosmos.Direct.dll
bin/Debug/net8.0/Microsoft.Azure.Cosmos.Serialization.HybridRow.dll
bin/Debug/net8.0/Microsoft.Azure.Cosmos.ServiceInterop.dll
bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net8.0/Microsoft.Bcl.HashCode.dll
bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/msvcp140.dll
bin/Debug/net8.0/Newtonsoft.Json.dll
bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net8.0/System.Drawing.Common.dll
bin/Debug/net8.0/System.Memory.Data.dll
bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/System.Security.Permissions.dll
bin/Debug/net8.0/System.Windows.Extensions.dll
bin/Debug/net8.0/vcruntime140_1.dll
bin/Debug/net8.0/vcruntime140.dll
bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
bin/Debug/net8.0/runtimes/win-x64/native/Cosmos.CRTCompat.dll
bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Azure.Cosmos.ServiceInterop.dll
bin/Debug/net8.0/runtimes/win-x64/native/msvcp140.dll
bin/Debug/net8.0/runtimes/win-x64/native/vcruntime140_1.dll
bin/Debug/net8.0/runtimes/win-x64/native/vcruntime140.dll
obj/democosmos.csproj.nuget.dgspec.json
obj/democosmos.csproj.nuget.g.props
obj/democosmos.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/democosmos.AssemblyInfo.cs
obj/Debug/net8.0/democosmos.AssemblyInfoInputs.cache
obj/Debug/net8.0/democosmos.assets.cache
obj/Debug/net8.0/democosmos.csproj.AssemblyReference.cache
obj/Debug/net8.0/democosmos.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/democosmos.csproj.FileListAbsolute.txt
obj/Debug/net8.0/democosmos.csproj.Up2Date
obj/Debug/net8.0/democosmos.dll
obj/Debug/net8.0/democosmos.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/democosmos.genruntimeconfig.cache
obj/Debug/net8.0/democosmos.GlobalUsings.g.cs
obj/Debug/net8.0/democosmos.pdb
obj/Debug/net8.0/ref/democosmos.dll
obj/Debug/net8.0/refint/democosmos.dll
